{{ define "main"}}
    <main id="postsList" class="flex-column-center">

        {{ if .Content }} 
            <div class="list-description">
                {{ .Content }}
            </div>
        {{ end }}

        {{ if .Site.Params.search.use }}
            <form class="flex-column-center" id="searchArea" action="{{ .Site.Params.search.searchServiceURL }}">
                <label>
                    Search {{ .Site.Params.search.searchServiceName }}
                    <input type="text" name="q" id="searchBar">
                </label>
                <input type="hidden" name="sites" value="{{ .Site.BaseURL }}">
                <button type="submit">Search</button>
            </form>
        {{ end }}

        {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January 2006"}}
        {{ range $index, $value := .Pages.GroupByDate $listPageDateFormat }}
            {{ if (ne $index 0) }}
            <hr class="separator" />
        {{ end }}
        <p class="date">{{ .Key }}</p>
            {{ range.Pages }}
                <p>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </p>
            {{ end }}
        {{ end }}

        <!-- Generate a list of posts so we can display them -->
        {{ $p := slice }}
        {{ range.Pages }}
            {{ $post := dict "link" .RelPermalink "title" .Title "content" (substr .Plain 0 20) -}}
            {{ $p = $p | append $post -}}
        {{ end }}

    </main>
{{ end }}