{{ define "main"}}

<main class="flex-column-center">

    <div id="postsList">

        {{ if .Content }} 
            <div class="list-description">
                {{ .Content }}
            </div>
        {{ end }}
    
        {{ if .Site.Params.search.use }}
            <div id="searchContainer" tabindex="0">
                <div class="flex-column-center" id="searchArea">
                    <label>
                        Search site
                        <input type="search" name="q" id="searchBar" autocomplete="off">
                    </label>
                    <input type="hidden" name="sites" value="{{ .Site.BaseURL }}">
                </div>
            </div>
        {{ end }}
    
        <div class="two-col-grid width-100">
                
            {{ range.Pages }}
                <p>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </p>
                <p class="p-child-of-grid-end">
                    {{ .Date.Format "2 Jan 2006" }}
                </p>
            {{ end }}
    
        </div>    

    </div>

</main>

{{ partial "footer/list-scripts.html" . }}

{{ end }}