{{ define "main"}}

<main id="postContent">
    <article>
        
        <h1>{{ .Title }}</h1>

        {{ if .Description }}
            <p class="small-text">{{ .Description }}</p>
        {{ end }}

        {{ if and (gt .WordCount 500) (.Params.toc) }}
            <h3>Table of Contents</h3>
            {{.TableOfContents}}
        {{ end }}
        
        {{ if .Site.Params.highlight }}
            <section id="highlight-anchor">
                {{ .Content }}
            </section>
        {{ else }}
            <section>
                {{ .Content }}
            </section>
        {{ end }}

        {{ if .PrevInSection | or .NextInSection }}
            <div id="pageTurner">
                {{if .PrevInSection}}
                    <p><a class="small-text" href="{{.PrevInSection.Permalink}}">< {{.PrevInSection.Title}}</a></p>
                {{end}}

                {{if .NextInSection}}
                    <p><a class="small-text" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} ></a></p>
                {{end}}
            </div>
        {{ end }}

        <div id="blogMetadata">
            {{ if .Params.customAvatar }}
                <p>Guest Writer</p>
            {{ else }}
                <img
                    src="{{ .Site.BaseURL }}img/avatar.jpg"
                    alt="Avatar Image for {{ .Site.Params.Author }}"
                    title="Avatar Image for {{ .Site.Params.Author }}"
                    id="profileImage"
                />
            {{ end }}

            <div>
                <h2>About this post</h2>

                <p class="small-text">Writer: {{ .Site.Params.Author }}</p>

                {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "2 January 2006"}}
                <p class="small-text">{{ .Date.Format $singlePageDateFormat }}</p>
    
                {{ if .ReadingTime }}
                    <p class="small-text">Readng time: {{ .ReadingTime }} minutes</p>
                {{ end }}
    
                {{ if .WordCount }}
                    <p class="small-text">Word Count: {{ .WordCount }}</p>
                {{ end }}

                <div id="metadataLinks">
                    <h3>categories</h3>
                    <ul>
                        {{ range (.GetTerms "categories") }}
                            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                    </ul>
                    <h3>tags</h3>
                    <ul>
                        {{ range (.GetTerms "tags") }}
                            <li><a href="{{ .Permalink }}">#{{ .LinkTitle }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        
        </div>

    </article>
</main>
    
{{ partial "footer/single-scripts.html" . }}

{{ end }}