{{ define "main"}}

<main id="postContent">
    <article>

        <img
            src="{{ .Site.BaseURL }}img/avatar.jpg"
            alt="Avatar Image for {{ .Site.Author }}"
            title="Avatar Image for {{ .Site.Author }}"
            id="profileImage"
        />
    
        <h3>
            {{ if .Params.Author }}
                {{ .Params.Author }}
            {{else}}
                {{ .Site.Params.Author }}
            {{ end }}
        </h3>
        
        <h1>{{ .Title }}</h1>

        {{ if .Description }}
            <p class="small-text">{{ .Description }}</p>
        {{ end }}
    
        {{ $singlePageDateFormat := .Site.Params.singlePageDateFormat | default "2 January 2006"}}
        <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>

        {{ if and (gt .WordCount 500) (.Params.toc) }}
            <h3>Table of Contents</h3>
            {{.TableOfContents}}
        {{ end }}
        
        {{ if .Site.Params.highlight }}
            <section id="highlight-anchor">
                {{ .Content }}
            </section>
        {{ else }}
            <section>
                {{ .Content }}
            </section>
        {{ end }}

        {{ if .WordCount }}
            <p class="small-text">Word Count: {{ .WordCount }}</p>
        {{ end }}

        {{ if .PrevInSection | or .NextInSection }}
            <div id="pageTurner">
                {{if .PrevInSection}}
                    <p><a class="small-text" href="{{.PrevInSection.Permalink}}">< {{.PrevInSection.Title}}</a></p>
                {{end}}

                {{if .NextInSection}}
                    <p><a class="small-text" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} ></a></p>
                {{end}}
            </div>
        {{ end }}

    </article>
</main>
    
{{ partial "footer/single-scripts.html" . }}

{{ end }}