{{ if .Site.Params.service_worker }}
  <script>
    if ("serviceWorker" in navigator) navigator.serviceWorker.register("{{ .Site.Params.service_worker }}");
  </script>
{{ end }}

{{ if .Site.Params.theming }}

  {{ $themeChanger := resources.Get "js/theme-changer.js" }}
  {{ $themeChanger = $themeChanger | minify | fingerprint "md5" }}
  <script src="{{ $themeChanger.RelPermalink }}"></script>

{{ end }}

{{ if .Site.Params.downloader }}

  {{ $downloader := resources.Get "js/downloader.js" }}
  {{ $downloader = $downloader | minify | fingerprint "md5" }}
  <script src="{{ $downloader.RelPermalink }}"></script>

{{ end }}

{{ $atomicDuckTheme := resources.Get "js/main.js" }}
{{ $atomicDuckTheme = $atomicDuckTheme | fingerprint "md5" }}
<script src="{{ $atomicDuckTheme.RelPermalink }}"></script>

<!-- custom js -->
{{ range .Site.Params.custom_js -}}
  <script src="{{ . | absURL }}"></script>
{{- end }}
