{{ if .Site.Params.highlight }}

<script src="https://unpkg.com/mark.js@8.11.1/dist/mark.es6.min.js"></script>

{{ $hughlighter := resources.Get "js/hughlighter.js" }}
{{ $hughlighter = $hughlighter | fingerprint "md5" }}
<script src="{{ $hughlighter.RelPermalink }}"></script>

{{ end }}

{{ if .Site.Params.analytics.use }}

{{ $searchSite := resources.Get "js/analytics.js" }}
{{ $searchSite = $searchSite | fingerprint "md5" }}
<script src="{{ $searchSite.RelPermalink }}"></script>
<script>
  const main = async () => {
    const siteId = "{{ .Site.Params.analytics.id }}";
    const options = { delay: 1000 };
  
    await liteAnalytics(siteId, options)
  }

  main();
</script>

{{ end }}