#subscribeArea {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;

    & input {
        border: none;
        height: 30px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        border: 1px solid var(--faded-black);
        border-radius: 10px;
    }

    @media (min-width: 850px) {
        padding-left: 50px;
    }
}

footer {
    width: 100%;
    padding: 10px;

    & .other-links span {
        margin-right: 16px;
    }

    & p,
    & div {
        margin: 0px;
        margin-bottom: 5px;
        font-size: 14px;
        color: var(--theme-p);
    }

    & a {
        font-size: 14px;
    }

    @media (min-width: 850px) {
        padding-left: 50px;
    }
}

#appUpdater {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--faded-black);
    width: 100%;
    padding: 10px;

    & label {
        font-size: 20px;
        color: var(--theme-white);
    }

    & input {
        font-size: 20px;
    }
}
