#siteNav {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 10px;

  & > div {
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & > * {
        margin-right: 20px;
    }
  }

  img {
    border-radius: 100px;
    box-shadow: var(--box-shadow);
    width: 100px;
  }

  .icons {
    cursor: pointer;
  }
}
