header {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & #siteNav {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
            margin: 0px 20px;
        }
    }

    & img {
        border-radius: 100px;
        box-shadow: var(--box-shadow);
        width: 100px;
    }
}
