main {
    &#homepage {
        height: 100%;
        padding: 10px;
    }

    & h1 {
        margin-bottom: 16px;
    }

    & ul, & li {
        list-style: none;
    }

    & p {
        margin-bottom: 16px;
        max-width: 600px;
    }
}
