main#homepage {
  width: 100vw;
  height: 100vh;

  & > div {
    width: 90vw;

    @media (min-width: 850px) {
      width: 50vw;
    }

    & #homepage-content,
    & #most-recent,
    & #site-content {
      margin-bottom: 40px;
    }

    & h3 {
        margin-bottom: 10px;
    }
  }
}
