main {
  padding: 10px;

  & #postsList {
    margin: 0px 50px 50px 50px;
    width: 100%;

    @media (min-width: 850px) {
      width: 50%;
    }
  }

  & p {
    margin-bottom: 7.5px;
  }

  & .width-100 {
    width: 100%;
  }

  & .two-col-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 60% 40%;

    & p,
    & a {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (min-width: 850px) {
      grid-template-columns: 50% 50%;

      & p,
      & a {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  & .p-child-of-grid-end {
    justify-self: end;
    text-align: right;
    width: 100%;
  }

  & #searchContainer {
    margin-bottom: 50px;
    color: var(--theme-p);
    position: relative;

    & > * {
      display: block;
    }

    & button {
      background: var(--theme-first-color);
      color: var(--theme-black);
      border: none;
      padding: 5px;
      font-size: 15px;
      border-radius: 5px;
      margin-top: 5px;
      cursor: pointer;
    }

    & #searchBar {
      background: var(--theme-white);
      font-size: 20px;
      width: 300px;
      height: 30px;
      padding: 10px;
      appearance: none;
      border: 1px solid var(--theme-black);
      border-radius: 10px;
    }

    & #searchResultsPreview {
      width: 300px;
      background: var(--theme-black);
      position: absolute;
      border-radius: 15px;
      opacity: 0;
      transition: opacity 2s linear;
      padding: 10px;

      &.appear {
        opacity: 1;
      }

      & .small-text {
        font-size: 14px;
      }

      & div {
        margin: 15px 0px 30px;

        & p {
          cursor: pointer;
          margin: 2px;
        }
      }
    }
  }

  & .list-description {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
